.message-field {
    display: flex;
    flex-direction: column;
    /* background-color: #e2e2e2; */
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: scroll;
}

.message-field_wrap {
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.message {
    background-color: #00bcd4;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin: 5px;
}

.message-sender {
    color: gray;
    font-size: 14px;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#root {
    height: 100%;
    background-color: #f3f3f3;
}

.layout {
    width: 100%;
    height: 100%;
    max-width: 1396px;
    min-width: 768px;
    margin: 0 auto;
    background-color: #ffffff;
}

.chat-wrap {
    display: flex;
    height: calc(100% - 64px);
}

.chat-list {
    width: 20%;
    background-color: #dcf7fb;
}